/* 
    Created on : Aug 26, 2014, 3:46:00 PM
    Author     : giannis
*/


h1 {
    font-size: large;
    text-align: center;
}

.ack {
    width: 100px;
    text-align: center;
    margin: auto;
    border: 1px solid black;
}


#tabs {
    width: 1024px;
    margin: auto;
}